html{
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#stick1 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
  }

  #stick2 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick3 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick4 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick5 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick6 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick7 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick8 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick9 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick10 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  



