#stick1 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick2 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick3 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick4 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick5 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick6 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick7 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick8 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick9 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }

  #stick10 {
    position: absolute;
    z-index: 9;
    cursor: move;
    height: 60ch;
  }




